<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body class="background">
    <h1>Expense Tracker</h1>

    <main>
      <header>
        <div>
          <h5>Total Balance</h5>
          <span id="balance">$0.00</span>
        </div>
        <div>
          <h5>Income</h5>
          <span id="income">$0.00</span>
        </div>
        <div>
          <h5>Expense</h5>
          <span id="expense">$0.00</span>
        </div>
      </header>

      <section>
        <h3>Transactions</h3>
        <ul id="transactionList"></ul>
        <div id="status"></div>

      </section>

      <section>
        <h3>Add Transaction</h3>

        <form id="transactionForm">
          <div>
            <label for="type">
              <input type="checkbox" name="type" id="type" />
              <div class="option">
                <span>Expense</span>
                <span>Income</span>
              </div>
            </label>
          </div>

          <div>
            <label for="name">Description</label>
            <input type="text" name="description" required />
          </div>

          <div>
            <label for="amount">Amount</label>
            <input
              type="number"
              name="amount"
              value="0"
              min="0.01"
              step="0.01"
              required
            />
          </div>

          <div>
            <label for="date">Date</label>
            <input type="date" name="date" required />
          </div>

          <div>
            <label for="category_id">Category</label>
            <select id="category_id" name="category_id" required>
              <option value="1">Food</option>
              <option value="2">Transportation</option>
              <option value="3">Housing</option>
              <option value="4">Utilities</option>
              <option value="5">Healthcare</option>
              <option value="6">Entertainment</option>
              <option value="7">Education</option>
              <option value="8">Shopping</option>
              <option value="9">Personal Care</option>
              <option value="10">Debt Payments</option>
              <option value="11">Savings</option>
              <option value="12">Gifts & Donations</option>
              <option value="13">Miscellaneous</option>
          </select>
        </div>
        
        <input type="hidden" id="transaction_id" name="transaction_id">
        <button type="submit">Add Transaction</button> 
        </form>

      </section>

      
      <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Edit Transaction</h2>
            <form id="editForm">

            </form>
        </div>
    </div>

    </main>

    <script src="index.js"></script>

  </body>
</html>